body {
background: pink;
}

h1 {
background: red;
font-size: 50pt;
}

h2 {
font-size: 40pt;
}

h3 {
font-weight: italic;
text-align: center;
text-shadow: green 1px 0 10px;
font-size: 24px;
}

.paragraph-1 {
background: yellow;
font-size: 40pt;
color: green;
}

.paragraph-2 {
border: 10pt solid yellow;
border-radius: 10pt;
font-size: 20pt;
margin-bottom: 60pt;
}

.paragraph-3 {
font-weight: bold;
font-size: 30pt;
font-family: algerian
}